.clear{
	clear: both;
}

.container section.banner img{
  width: 100%;
  height: 520px;
}

.container section.novidades{
  margin: 0 auto;
} 

.container section.novidades h1{
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  margin-top: 20px;
  text-transform: uppercase;
  color: #212121;
  border-bottom: #F4CB2F 3px solid;
  width: 420px;
  margin: 20px auto 0 auto;
}

/*INICIO DA AREA DE CARROS*/
section.novidades{
  width: 98%;
  height: 670px;
  background-color:#c2c1b8;
}

.container section.novidades .single-car{
  width: 30%;
  float: left;
  margin: 17px 20px 0 20px;
  text-align: center;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
  color: #212121;
  }

  .container section.novidades .single-car:last-child{
    margin-bottom: 30px;
  }

  .container section.novidades .single-car img{
    width: 100%;
    max-height: 220px;
    margin-top: -5px;
  }

  .container section.novidades .single-car h2{
    margin-top: 5px;
    cursor: pointer;
  }
  .container section.novidades .single-car ul {
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
    list-style: none;
  }
  .container section.novidades .single-car ul li {
    

  }


  .container section.novidades .single-car h3{
    margin-top: 5px;
  }

  .container section.novidades .single-car p{
    margin-top: 5px;
  }
/*FIM DA AREA DE CARROS*/
  
  section.contato h2{
    width: 100%;
    padding-top: 20px;      
    text-align: center;
    font-size: 30px;
    font-weight: lighter;    
    text-transform: uppercase;
    color: #212121;
    border-bottom: #F4CB2F 3px solid;    
    width: 290px;
    margin: 20px auto; 
    clear: both;
  }

  section.contato form{
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #212121;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
    border-radius: 10px;
  }

  .form-wraper{
    float: left;
    margin-top: 30px;
    padding: 0 10px;
  }

  .w100{
    width: 100%;
  }

  .w50{
    width: 50%;
  }
  .form-wraper span{
    font-size: 24px;
    color: #c2c1b8;
  }
  .form-wraper input[type=text]{
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 9px;
    border: 1px solid #dadada;
    margin-top: 8px;
  }
  .form-wraper textarea{
    width: 100%;
    height: 121px;
    padding: 8px;
    resize: none;
    border: 1px solid #dadada;
    margin-top: 8px;
  }

  section.contato .center{
    text-align: center;
  }

  section.contato input[type=submit]{
    width: 120px;
    height: 35px;
    border: 0;
    background-color: #c2c1b8;
    color: white;
    cursor: pointer;
    border-radius: 20px;
  }

  section.footer{
    margin-top: 20px;
    width: 100%;
    height: 100px;
    background-color: #212121;
    border-top: #F4CB2F solid 3px;
    text-align: center;
  }

  section.footer .single-footer{
    float: left;
    width: 31%;
    margin-top: 10px;
    margin-left: 2%;
  }

  section.footer .single-footer h2{
    margin-bottom: 5px;
    font-size: 20px;
    color: #c2c1b8;
  }

  section.footer .single-footer p{
    color: #c2c1b8;
  }

  .redes-sociais{
    margin: 5px;
    padding-top: 20px;
  }
















