.clear{
	clear: both;
}

.container section.form{  
  width: 100%;
  height: 160px;
  background-color: #212121;
  border-bottom: #F4CB2F solid 3px;
}

.container section.form .header img{
  width: 150px;
  height: 130px;
  float: left;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 20px;
}

.container section.form .header ul{
  padding: 8px 0;
  list-style-type: none;
  float: right;
}

.container section.form .header ul li{
  float: left;
	font-size: 20px;
  margin-top: 30px;
  padding: 30px;
  text-transform: uppercase;
}

.container section.form .header ul li a{
  color:#F5F5F5;
  text-decoration: none;
}

.container section.form .header ul li a:hover{
  border-bottom: #F4CB2F 3px solid;
}

.container section.banner img{
  width: 100%;
  height: 520px;
  /*border:solid red 3px*/
}

.container section.novidades{
  margin: 0 auto;
  /*border:solid blue 3px;  */
} 

.container section.novidades h1{
  /*border: springgreen solid 3px;*/
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  margin-top: 20px;
  text-transform: uppercase;
  color: #212121;
  border-bottom: #F4CB2F 3px solid;
  margin: 0;
  width: 420px;
  margin: 20px auto 0 auto;
  
}

/*INICIO DA AREA DE CARROS*/
/*.container section.novidades{  
  border:solid black 3px
} */

.container section.novidades .single-car{
  
  /*border: solid yellow 3px;*/
 float: block;
  
  width: 100%;
 margin-left: 0 auto;
  
  text-align: center;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
  color: #212121;
  }

  .container section.novidades .single-car:last-child{
    margin-bottom: 30px;
  }

  .container section.novidades .single-car img{
    width: 80%;
    max-height: 220px;
  }

  .container section.novidades .single-car h2{
    margin-top: 5px;
    cursor: pointer;
  }
  .container section.novidades .single-car ul {
    width: 100%;
    /*border: chartreuse solid 4px;*/
    margin-top: 5px;
    cursor: pointer;
    /*dividisor*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style: none;
   
  }
/*  .container section.novidades .single-car ul li {
   /*border: tomato solid 3px;

  }*/


  .container section.novidades .single-car h3{
    margin-top: 5px;
  }

  .container section.novidades .single-car p{
    margin-top: 5px;
  }
/*FIM DA AREA DE CARROS*/
  
  section.contato h2{
    /*border: blueviolet solid 3px;*/
    width: 100%;
    padding-top: 20px;      
    text-align: center;
    font-size: 30px;
    font-weight: lighter;    
    text-transform: uppercase;
    color: #212121;
    border-bottom: #F4CB2F 3px solid;    
    width: 290px;
    margin: 20px auto; 
    clear: both;
  }

  section.contato form{
    width: 600px;
    height: 500px;
    margin: 30px auto 0 auto;
    background-color: #c2c1b8;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
    color: #212121;
  }

  .form-wraper{
    float: left;
    margin-top: 30px;
    padding: 0 10px;
  }

  .w100{
    width: 100%;
  }

  .w50{
    width: 50%;
  }
  .form-wraper span{
    font-size: 24px;
    color: #212121;
  }
  .form-wraper input[type=text]{
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 9px;
    border: 1px solid #dadada;
    margin-top: 8px;
  }
  .form-wraper textarea{
    width: 100%;
    height: 121px;
    padding: 8px;
    resize: none;
    border: 1px solid #dadada;
    margin-top: 8px;
  }

  section.contato .center{
    text-align: center;
  }

  section.contato input[type=submit]{
    width: 120px;
    height: 35px;
    border: 0;
    background-color: #212121;
    color: white;
    cursor: pointer;
  }

  section.footer{
    margin-top: 20px;
    width: 100%;
    height: 80px;
    background-color: #212121;
    border-top: #F4CB2F solid 3px;
    text-align: center;
  }

  section.footer .single-footer{
    float: left;
    width: 31%;
    margin-top: 10px;
    margin-left: 2%;
  }

















